body {
    background: skyblue;
}

h1 {
    text-align: center;
}

li{
    display:inline;
    padding: 20px;
}
ul#nav{
    text-align: center;
    font-size: larger;
}

a:link {
    color: white;
    text-decoration: none;
    background-color: transparent;
}
div#portrait {
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
}


img {
    width: 70%;
}

body.div#top-header{
    background-color: black;
}